# EditorConfig is a normalisation file compatible with different editors
# Find more documentation here : http://editorconfig.org/#download

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Javascript
[*.{js,json,ts}]
indent_style = space
indent_size = 4

# Yaml
[*.yml]
indent_style = space
indent_size = 4

# SQL
[*.sql]
indent_style = space
indent_size = 2

# PHP
[*.php]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
tab_width = 4
